.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 50px; */
  height: 100vh;
  background-color: whitesmoke;
  padding: 20px 40px;
}

.header {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: start;
}

.header *:not(.cssLogo) {
  flex: 1;
}

.footer .cssLogo {
  width: 80px;
  height: auto;
  object-fit: contain;
}

.footer .connect h1,
.footer .programmes h1 {
  margin: 0;
  margin-bottom: 5px;
}

.footer ul li {
  list-style: none;
  margin: 8px;
}

.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  border-bottom: 2px solid lightgray;
}

.icons .icon {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.footer .bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 20px 50px;
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    flex-direction: column;
  }

  .icons {
    justify-content: center;
  }

  .footer .bottom {
    justify-content: center;
    gap: 15px;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .header {
    width: 100%;
    flex-direction: column;
  }

  .icons {
    justify-content: center;
  }

  .footer .bottom {
    justify-content: center;
    gap: 15px;
  }
}
