*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

button:hover {
  cursor: pointer;
}

.app {
  width: 100%;
}

.nextEvent {
  width: 100%;
  background-color: rgba(74, 48, 243, 0.804);
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 5px 0px;
}

@media (max-width: 768px) {
  .nextEvent {
    height: 55px;
  }
}
